/* General Styles */
body {
    font-family: 'Sarabun', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eafaf1;
}

/* Layout */
.split-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

@media (min-width: 768px) {
    .split-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Record Count Label */
.record-count-container {
    margin-bottom: 15px;
}

.record-count-label {
    font-size: 14px;
    color: #555;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
}

/* Record Count Select */
.recordCountSelect-class {
    margin-top: 20px;
}

#recordCountSelect {
    width: 150px;
    padding: 5px;
}

/* Left Side */
.left-side {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .left-side {
        width: 85%; /* Increased width of left-side */
    }
}


/* Right Side */
.right-side {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

@media (min-width: 768px) {
    .right-side {
        width: 30%; /* Reduced width of right-side */
    }
}

/* Search Filter */
.search-filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.search-filter-container label {
    font-size: 16px;
    color: #333;
}

.search-filter-container select, 
.search-filter-container input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    flex: 1;
}

.search-filter-container button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-filter-container button:hover {
    background-color: #388e3c;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    white-space: nowrap; /* Prevent wrapping of table content */
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
}

td {
    font-size: 14px;
    color: #333;
    white-space: nowrap; /* Ensure cells don't wrap to new lines */
}

/* Title Column */
th.title-column{
    max-width: 50px; /* Set a fixed width for the title column */
    white-space: nowrap; /* Prevents wrapping to new lines */
    overflow: hidden; /* Hides overflowed content */
    text-overflow: ellipsis; /* Adds ellipsis when content is too long */
}

td.title-column {
    max-width: 50px; /* Set a fixed width for the title column */
    white-space: nowrap; /* Prevents wrapping to new lines */
    overflow: hidden; /* Hides overflowed content */
    text-overflow: ellipsis; /* Adds ellipsis when content is too long */
}

td.description-column, td.username-column {
    max-width: none; /* Remove width restriction */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Form Container */
.form-container {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button Styles */
button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #388e3c;
}

.detail-btn, .edit-btn, .delete-btn {
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.detail-btn {
    color: #2196f3;
    background-color: white;
    border: 1px solid #2196f3;
}

.detail-btn:hover {
    background-color: #2196f3;
    color: white;
}

.edit-btn {
    color: #4caf50;
    background-color: white;
    border: 1px solid #4caf50;
}

.edit-btn:hover {
    background-color: #4caf50;
    color: white;
}

.delete-btn {
    color: #d32f2f;
    background-color: white;
    border: 1px solid #d32f2f;
}

.delete-btn:hover {
    background-color: #d32f2f;
    color: white;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #4caf50;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #d32f2f;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #b71c1c;
}

#modalDetails {
    text-align: left;
    margin-bottom: 20px;
}

#modalDetails p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

#detailUrl {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#detailUrl:hover {
    background-color: #388e3c;
}

.currentFileSelectionLabel {
    margin-top: 20px;
    margin-bottom: 20px;
}

label[for="newFileUpload"],
#newFileUpload {
    margin-top: 20px;
}

/* Responsive Modal */
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination-button {
    padding: 10px 15px;
    border: 1px solid #4caf50;
    background-color: white;
    color: #4caf50;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-button.active {
    background-color: #4caf50;
    color: white;
}

.pagination-button:hover {
    background-color: #4caf50;
    color: white;
}